/* styles.css */
body {
    background-color: #d9edbf;
  }
  
  /* Adjust the sidebar height and style as needed */
  .membership-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    padding: 20px;
    overflow-y: auto;
  }
  