/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #121212;
  margin-right: 1%;
  background-color: #D9EDBF;
}

.brand-title {
  color: #121212;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin-left: 5%;
}

.navbar-links {
  height: 100%;
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  color: #121212;
  justify-content: center;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 12px;
}

.navbar-links li {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  list-style: none;
  position: relative;
  margin: 0;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #121212;
  padding: 1rem;
  outline: none;
  position: relative; /* Added to create a relative context for the ::before pseudo-element */
}

.navbar-links li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFD700; /* Initial color of the underline */
  transform: scaleX(0); /* Initially no underline width */
  transform-origin: 0; /* Adjusted to start the animation from the left */
  transition: transform 0.3s ease-in-out;
}

.navbar-links li:hover a::before {
  transform: scaleX(1); /* Full underline width on hover */
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #121212;
  border-radius: 10px;
}


/* Contact Button Styles */
.navbar-links li>.btncolor {
  background-color: #9747FF;
  margin-left: 1px;
  margin-top: 2px;
  width: 124px;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.navbar-links .btn{
  display: block;
  margin: 0 auto;
}

.btncolor:hover {
  background-color: #6633cc;
}

.footer-logo{
  width: 20px;
  height: 20px;
  color: white;
}


/* Responsive Styles */
@media (max-width: 950px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      background-color: white;
  }

  .brand-title {
      margin-top: 8px;
      margin-left: 15px;
  }

  .toggle-button {
      display: flex;
      margin-top: 11px;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
      margin-top: 100px;
      margin-bottom: 200px;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
      height: 100vh;
      /* Remove animation */
  }

  .btn {
      text-align: center;
      margin: auto;
      margin-top: 10px;
  }
  .navbar-links li>.btncolor {
      margin-left: 0;
      margin: auto;
      width: auto;
      padding: 0.5rem 1rem;
      border-radius: 5px;
  }

  .logocls {
      width: 50%;
      margin-left: 115px;

  }

  .cont-foot {
      margin-left: -46px;
  }

  .follow-foot {
      margin-left: -14px;
  }

  .navbar-links.active {
      display: flex;
      /* Remove animation */
  }

  .navbar-links li:hover a {
      color: #FFD700;
      font-size: 20px;
      /* Adjusted styles for hover */
  }
}